<h1>Web Scraping Step by Step 05/29/23—05/31/23<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Purposes" data-toc-modified-id="Purposes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Purposes</a></span></li><li><span><a href="#Scrape" data-toc-modified-id="Scrape-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Scrape</a></span><ul class="toc-item"><li><span><a href="#Requests-&amp;-Selector" data-toc-modified-id="Requests-&amp;-Selector-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Requests &amp; Selector</a></span><ul class="toc-item"><li><span><a href="#&quot;a&quot;-and-&quot;href&quot;" data-toc-modified-id="&quot;a&quot;-and-&quot;href&quot;-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>"a" and "href"</a></span></li><li><span><a href="#XPath" data-toc-modified-id="XPath-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>XPath</a></span></li></ul></li><li><span><a href="#Extract-from-Selector" data-toc-modified-id="Extract-from-Selector-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Extract from Selector</a></span></li><li><span><a href="#Full-URLs" data-toc-modified-id="Full-URLs-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Full URLs</a></span></li><li><span><a href="#Beyond-Selector—Response" data-toc-modified-id="Beyond-Selector—Response-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Beyond Selector—Response</a></span></li></ul></li><li><span><a href="#Information-Retrieval" data-toc-modified-id="Information-Retrieval-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Information Retrieval</a></span><ul class="toc-item"><li><span><a href="#Year-+-Month" data-toc-modified-id="Year-+-Month-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Year + Month</a></span><ul class="toc-item"><li><span><a href="#Dealing-with-irregularities" data-toc-modified-id="Dealing-with-irregularities-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Dealing with irregularities</a></span></li><li><span><a href="#Re-iterate-after-removing-&quot;bad&quot;-urls" data-toc-modified-id="Re-iterate-after-removing-&quot;bad&quot;-urls-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Re-iterate after removing "bad" urls</a></span></li><li><span><a href="#Finalizing-YYYY-MM-by-URL-dataframe" data-toc-modified-id="Finalizing-YYYY-MM-by-URL-dataframe-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Finalizing <code>YYYY-MM</code> by URL dataframe</a></span></li></ul></li><li><span><a href="#Raw-Table-Elements" data-toc-modified-id="Raw-Table-Elements-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Raw Table Elements</a></span></li><li><span><a href="#Output-Catalog-Info" data-toc-modified-id="Output-Catalog-Info-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Output Catalog Info</a></span></li></ul></li><li><span><a href="#Dataframes-from-Raw-HTML-Elements" data-toc-modified-id="Dataframes-from-Raw-HTML-Elements-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dataframes from Raw HTML Elements</a></span><ul class="toc-item"><li><span><a href="#Demonstration-for-Individual-Dataframe" data-toc-modified-id="Demonstration-for-Individual-Dataframe-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Demonstration for Individual Dataframe</a></span><ul class="toc-item"><li><span><a href="#The-oldest-table-(from-Web)" data-toc-modified-id="The-oldest-table-(from-Web)-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>The oldest table (from Web)</a></span></li><li><span><a href="#The-oldest-table-(scraped)" data-toc-modified-id="The-oldest-table-(scraped)-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>The oldest table (scraped)</a></span></li><li><span><a href="#The-most-recent-table-(from-Web)" data-toc-modified-id="The-most-recent-table-(from-Web)-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>The most recent table (from Web)</a></span></li><li><span><a href="#The-most-recent-table-(scraped)" data-toc-modified-id="The-most-recent-table-(scraped)-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span>The most recent table (scraped)</a></span></li></ul></li><li><span><a href="#Convert-All-Dataframes" data-toc-modified-id="Convert-All-Dataframes-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Convert All Dataframes</a></span></li></ul></li><li><span><a href="#More-Cleaning-Tasks" data-toc-modified-id="More-Cleaning-Tasks-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>More Cleaning Tasks</a></span><ul class="toc-item"><li><span><a href="#Review-Column-Names" data-toc-modified-id="Review-Column-Names-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Review Column Names</a></span><ul class="toc-item"><li><span><a href="#How-many-versions-of-column-names?" data-toc-modified-id="How-many-versions-of-column-names?-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>How many versions of column names?</a></span></li><li><span><a href="#Which-dataframes-have-problematic-column-names?" data-toc-modified-id="Which-dataframes-have-problematic-column-names?-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Which dataframes have problematic column names?</a></span></li><li><span><a href="#What-are-the-causes-of-the-problematic-column-names?" data-toc-modified-id="What-are-the-causes-of-the-problematic-column-names?-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>What are the causes of the problematic column names?</a></span></li></ul></li><li><span><a href="#Standardize-Column-Names" data-toc-modified-id="Standardize-Column-Names-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Standardize Column Names</a></span><ul class="toc-item"><li><span><a href="#Counts-of-all-column-names" data-toc-modified-id="Counts-of-all-column-names-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Counts of all column names</a></span></li><li><span><a href="#Dictionary-of-finalized-column-names" data-toc-modified-id="Dictionary-of-finalized-column-names-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>Dictionary of finalized column names</a></span></li><li><span><a href="#Rename-all-dataframes" data-toc-modified-id="Rename-all-dataframes-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>Rename all dataframes</a></span></li></ul></li><li><span><a href="#Add-Timestamp" data-toc-modified-id="Add-Timestamp-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Add Timestamp</a></span></li></ul></li><li><span><a href="#Merge-ALL-Dataframes" data-toc-modified-id="Merge-ALL-Dataframes-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Merge ALL Dataframes</a></span></li><li><span><a href="#Data-Manipulation" data-toc-modified-id="Data-Manipulation-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Data Manipulation</a></span><ul class="toc-item"><li><span><a href="#Conditional-Processing-(index-&amp;-datetime)" data-toc-modified-id="Conditional-Processing-(index-&amp;-datetime)-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Conditional Processing (index &amp; datetime)</a></span></li><li><span><a href="#Create-a-Finite-List-of-Values" data-toc-modified-id="Create-a-Finite-List-of-Values-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Create a Finite List of Values</a></span></li><li><span><a href="#Map-New-Column-from-Dictionary" data-toc-modified-id="Map-New-Column-from-Dictionary-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Map New Column from Dictionary</a></span></li></ul></li></ul></div>

# Purposes

This jupyter notebook shows how to scrape in-text tables from 200+ webpages and then bind the 200+ tables into one dataframe.

- Access inner elements from a webpage
- Scrape online data from multiple URLs
- Clean raw data into dataframes
- Merge all scraped dataframes into one final dataframe

Website: https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin.html

This jupyter notebook was created on 05/29/2023, Monday, 13:26 PM

This jupyter notebook was first completed at 05/31/2023, Wednesday, 22:22 PM

In [2]:
import time as tm
start_time = tm.strftime("%m/%d/%Y, %A, %H:%M %p")
print("This jupyter notebook was created on", start_time)

This jupyter notebook was created on 05/29/2023, Monday, 13:26 PM

# Scrape

In [1]:
import time as tm
import scrapy
import requests
from scrapy import Selector
import re
import datetime as dt
import numpy as np
import pandas as pd

## Requests & Selector

- Tech documentation: `https://docs.scrapy.org/en/latest/topics/request-response.html`
- Reference doc: `https://campus.datacamp.com/courses/web-scraping-with-python`

In [2]:
main_url = 'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin.html'

In [3]:
main_html = requests.get(main_url).content
main_selector = Selector(text = main_html)
main_selector # this is a selector object

In [4]:
print("There are",str(len(main_selector.xpath('//*'))), "elements in the HTML document.")

There are 1883 elements in the HTML document.

### "a" and "href"

- **a** tags are for hyperlinks
- **href** attributes tells what links to go to

Reference doc: `https://campus.datacamp.com/courses/web-scraping-with-python/introduction-to-html?ex=6`

### XPath

- Single `/` used to move forward one generation
- tag-names between slashes give direction to which element(s)
- `[]` after a tag name tells which of the selected siblings to choose
- Double `//` to look for all fugure generations, instead of one generation down
- E.g., `xpath = //table` directs to all `table` elements within the entire HTML code
- `@` represents "attribute"
    - `@class`
    - `@id`
    - `@href`
- <span class="mark">Xpath Contains Notation: `contains(@attri-name, "string-expr")`</span>

Reference docs: `https://campus.datacamp.com/courses/web-scraping-with-python/introduction-to-html?ex=9` and `https://campus.datacamp.com/courses/web-scraping-with-python/xpaths-and-selectors?ex=5`

## Extract from Selector

- Use the `xpath` call within a `Selector` to create new `Selector`s of specific pieces of the html code
- The return is a `SelectorList` of `Selector` objects

Reference doc: `https://campus.datacamp.com/courses/web-scraping-with-python/xpaths-and-selectors?ex=10`

In [5]:
# '*' is the wildcard
# contains(@attri-name, "string-expr")
all_links = main_selector.xpath('//*[contains(@href,"visa-law0/visa-bulletin/20")]/@href').extract()

In [6]:
all_links[-5:]

['/content/travel/en/legal/visa-law0/visa-bulletin/2002/visa-bulletin-for-april-2002.html',
 '/content/travel/en/legal/visa-law0/visa-bulletin/2002/visa-bulletin-for-march-2002.html',
 '/content/travel/en/legal/visa-law0/visa-bulletin/2002/visa-bulletin-for-february-2002.html',
 '/content/travel/en/legal/visa-law0/visa-bulletin/2002/visa-bulletin-for-january-2002.html',
 '/content/travel/en/legal/visa-law0/visa-bulletin/2002/visa-bulletin-for-december-2001.html']

## Full URLs

Add the prefix of the URLS: 
>`https://travel.state.gov/`

In [7]:
prefix = "https://travel.state.gov"

In [8]:
# Concatenate the prefix with every link
for i, link in enumerate(all_links):
    if link.startswith('/content'):
        all_links[i] = prefix + link
# Take a look at the new links, they should be full
all_links[:5] # paste these urls in browser and test whether they're good

['https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2023/visa-bulletin-for-may-2023.html',
 'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2023/visa-bulletin-for-june-2023.html',
 'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2023/visa-bulletin-for-june-2023.html',
 'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2023/visa-bulletin-for-may-2023.html',
 'https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2023/visa-bulletin-for-april-2023.html']

In [9]:
# What I don't like about Python is the syntax of saving a list to local file.
# Compared to R, Python code is unnecessarily confusing and redundant for such a simple task
file = open('visa_bulletin.txt','w')
for url in all_links:
    file.write(url + "\n")
file.close()

## Beyond Selector—Response

This is beyond the scope of this example, yet it's good to keep in mind of the available tools.

- The Response has all the tools with Selectors
- The Response keeps track of the url where the HTML code was loaded from
- The Response helps move from one site to another, so that we can "crawl" the web while scraping.
- `response.url`
- `response.follow(string_path_of_next_url)`

Reference doc: `https://campus.datacamp.com/courses/web-scraping-with-python/css-locators-chaining-and-responses?ex=9`

# Information Retrieval

In [10]:
print("We're dealing with",str(len(all_links)),"urls.")

We're dealing with 263 urls.

## Year + Month

In [11]:
# take the first link as an example, first split by forward slashes
all_links[0].split('/')

['https:',
 '',
 'travel.state.gov',
 'content',
 'travel',
 'en',
 'legal',
 'visa-law0',
 'visa-bulletin',
 '2023',
 'visa-bulletin-for-may-2023.html']

In [12]:
# then split the last element by '-'
all_links[0].split('/')[-1].split('-')

['visa', 'bulletin', 'for', 'may', '2023.html']

In [13]:
# initiate two empty lists of the same length of the links
month = [None] * len(all_links)
year = [None] * len(all_links)
# loop over the list
for i, link in enumerate(all_links):
    # for each individual url, first split by `/`, work on the last element, then split by `-`
    month[i] = link.split('/')[-1].split('-')[-2].upper()
    year[i] = link.split('/')[-1].split('-')[-1].split('.')[0]

In [14]:
print(set(month))

{'APRIL', 'AUGUST', 'FEBRUARY', 'JANUARY', 'MARCH', 'DECEMBER', 'SEPTEMBER', 'JUNE', 'JULY', 'MAY', 'VISA', 'NOVEMBER', 'OCTOBER'}

In [15]:
print(set(year))

{'2009', '2006', '2017', '2003', '2010', '2002', '2004', 'bulletin', '2007', '2015', '2005', '2023', '2013', '2020', '2012', '2018', '2014', '2019', 'availability', '2021', '2008', '2001', '2022', '2016', '2011'}

### Dealing with irregularities

Here I see a problem from the above output. In the extracted months, there's the word `visa` that should not be there. For the extracted years, there's the word `availability`. 

This indicates that although most urls have the same structure, one or more links are not. It is important to know whether the links of a different structure belong to our target urls.

The best practice is to quickly check the url of the different structure.

In [16]:
excl_link = [link for link in all_links if 'visa-availability' in link]
# check the type of the object is important
print(type(excl_link))
# it's a list
print(excl_link)
# to access the actual url, index it
print(excl_link[0])

<class 'list'>
['https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2007/update-on-july-visa-availability.html']
https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2007/update-on-july-visa-availability.html

### Re-iterate after removing "bad" urls

In [17]:
# create a new url list to avoid changing the original scraped url list
new_urls = list(all_links)
new_urls = [link for link in all_links if ('visa-availability' not in link and '2007/july-2007-visa-bulletin.html' not in link)]

In [18]:
new_urls = list(set(new_urls))

In [19]:
len(new_urls)

259

In [20]:
file = open('visa_bulletin_final.txt','w')
for url in new_urls:
    file.write(url + "\n")
file.close()

In [21]:
month = [None] * len(new_urls)
year = [None] * len(new_urls)
# loop over the list
for i, link in enumerate(new_urls):
    # for each individual url, first split by `/`, work on the last element, then split by `-`
    month[i] = link.split('/')[-1].split('-')[-2].upper()
    year[i] = link.split('/')[-1].split('-')[-1].split('.')[0]

In [22]:
print(set(month))
print(set(year))

{'AUGUST', 'APRIL', 'FEBRUARY', 'JANUARY', 'MARCH', 'DECEMBER', 'SEPTEMBER', 'JUNE', 'JULY', 'MAY', 'NOVEMBER', 'OCTOBER'}
{'2009', '2006', '2017', '2003', '2002', '2010', '2004', '2007', '2015', '2005', '2023', '2013', '2020', '2012', '2018', '2014', '2019', '2021', '2008', '2001', '2022', '2016', '2011'}

In [23]:
print(len(month))
print(len(year))

259
259

### Finalizing `YYYY-MM` by URL dataframe

In [24]:
mmyy = [None] * len(month) # specify the length of an empty list
for i in range(len(month)):
    mmyy[i] = month[i] + '_' + year[i]

In [25]:
print(mmyy[:50])

['AUGUST_2013', 'JUNE_2013', 'SEPTEMBER_2004', 'NOVEMBER_2022', 'DECEMBER_2001', 'MARCH_2006', 'MARCH_2009', 'JUNE_2022', 'FEBRUARY_2003', 'JANUARY_2014', 'FEBRUARY_2004', 'AUGUST_2017', 'FEBRUARY_2016', 'NOVEMBER_2009', 'JULY_2003', 'APRIL_2014', 'JANUARY_2019', 'FEBRUARY_2020', 'MAY_2022', 'DECEMBER_2021', 'NOVEMBER_2012', 'JULY_2019', 'NOVEMBER_2010', 'APRIL_2023', 'JULY_2021', 'NOVEMBER_2014', 'APRIL_2010', 'AUGUST_2002', 'JUNE_2006', 'JULY_2013', 'APRIL_2009', 'MARCH_2014', 'APRIL_2020', 'OCTOBER_2010', 'MAY_2019', 'FEBRUARY_2015', 'OCTOBER_2002', 'SEPTEMBER_2022', 'APRIL_2005', 'NOVEMBER_2013', 'JULY_2017', 'JULY_2009', 'NOVEMBER_2006', 'AUGUST_2009', 'APRIL_2011', 'JANUARY_2009', 'DECEMBER_2008', 'OCTOBER_2004', 'NOVEMBER_2003', 'MARCH_2016']

In [26]:
from datetime import datetime
mmyy_dt = [None] * len(mmyy)
time_stamp = [None] * len(mmyy)
for i in range(len(mmyy)):
    mmyy_dt[i] = datetime.strptime(mmyy[i],"%B_%Y")
    time_stamp[i] = mmyy_dt[i].strftime("%Y-%m-%d")

In [27]:
type(mmyy_dt[0])

datetime.datetime

In [28]:
# datetime.datetime object
mmyy_dt[0]

datetime.datetime(2013, 8, 1, 0, 0)

In [29]:
url_time_df = pd.DataFrame({'url':new_urls, 'mmyy':mmyy, 'stamp':time_stamp})

In [30]:
# although with type string, the list can be sorted by time sequence
type(time_stamp[0])

str

In [31]:
# sort list starting from the most recent
#time_stamp = sorted(time_stamp, reverse=True)

In [32]:
url_time_df = url_time_df.sort_values(['stamp'], ascending=True)
url_time_df = url_time_df.reset_index(drop = True)
url_time_df.head()

,url,mmyy,stamp
0,https://travel.state.gov/content/travel/en/leg...,DECEMBER_2001,2001-12-01
1,https://travel.state.gov/content/travel/en/leg...,JANUARY_2002,2002-01-01
2,https://travel.state.gov/content/travel/en/leg...,FEBRUARY_2002,2002-02-01
3,https://travel.state.gov/content/travel/en/leg...,MARCH_2002,2002-03-01
4,https://travel.state.gov/content/travel/en/leg...,APRIL_2002,2002-04-01

In [33]:
url_time_df.shape
url_time_df.to_csv("visa_statistics_url_time.csv", index=False)

In [34]:
# count element frequency in list
# except for the first and the last year, all other years should have 12 counts
import collections
print(collections.Counter(year))

Counter({'2013': 12, '2004': 12, '2022': 12, '2006': 12, '2009': 12, '2003': 12, '2014': 12, '2017': 12, '2016': 12, '2019': 12, '2020': 12, '2021': 12, '2012': 12, '2010': 12, '2002': 12, '2015': 12, '2005': 12, '2011': 12, '2008': 12, '2007': 12, '2018': 12, '2023': 6, '2001': 1})

## Raw Table Elements

In [35]:
url_time_df['url']

0      https://travel.state.gov/content/travel/en/leg...
1      https://travel.state.gov/content/travel/en/leg...
2      https://travel.state.gov/content/travel/en/leg...
3      https://travel.state.gov/content/travel/en/leg...
4      https://travel.state.gov/content/travel/en/leg...
                             ...
254    https://travel.state.gov/content/travel/en/leg...
255    https://travel.state.gov/content/travel/en/leg...
256    https://travel.state.gov/content/travel/en/leg...
257    https://travel.state.gov/content/travel/en/leg...
258    https://travel.state.gov/content/travel/en/leg...
Name: url, Length: 259, dtype: object

In [36]:
range(len(url_time_df))

range(0, 259)

In [37]:
%%time
str_all = [None] * len(new_urls)
# locate and extract the table content from each url
for i in range(len(url_time_df)):
    html = requests.get(url_time_df['url'][i]).content
    # create a new Selector with text equals to the html created from above, 
    # not from the beginning of the program
    sel = Selector(text = html)
    str_all[i] = sel.xpath('//table').extract()

CPU times: user 15 s, sys: 1.17 s, total: 16.2 s
Wall time: 3min 14s

In [38]:
len(str_all)

259

In [39]:
type(str_all)

list

In [40]:
%%time
# to include tables that contain the word "Employment"
tables = [None] * len(str_all)
for i in range(len(str_all)):
    tables[i] = [tab for tab in str_all[i] if "Employment" in tab]
print(len(tables))
print(tables[0])

259
['<table class="grid" border="1" cellspacing="0" cellpadding="3" width="100%">\n<tbody><tr><th>\xa0</th>\n<th>All Chargeability Areas Except Those Listed</th>\n<th>INDIA</th>\n<th>MEXICO</th>\n<th>PHILIPPINES</th>\n</tr><tr><th><p><b>Employment-<br>\n Based</b></p>\n</th>\n<td valign="top">\xa0</td>\n<td valign="top">\xa0</td>\n<td valign="top">\xa0</td>\n<td valign="top">\xa0</td>\n</tr><tr><th>1st</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr><tr><th>2nd</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr><tr><th>3rd</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr><tr><th>Other Workers</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr><tr><th>4th</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr><tr><th>Certain Religious Workers</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr><tr><th>5th</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr><tr><th>Targeted Employment Areas/Regional Centers</th>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n<td valign="top">C</td>\n</tr></tbody></table>']
CPU times: user 2.42 ms, sys: 106 µs, total: 2.52 ms
Wall time: 2.49 ms

In [41]:
%%time
table_len = [None] * len(str_all)
for i in range(len(str_all)):
    table_len[i] = len(tables[i])
print(table_len)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
CPU times: user 413 µs, sys: 108 µs, total: 521 µs
Wall time: 502 µs

In [42]:
employment_tab_url = pd.DataFrame({
    'length': table_len, 'table': tables
})

In [43]:
print(url_time_df.shape)
print(employment_tab_url.shape)

(259, 3)
(259, 2)

## Output Catalog Info

- Timestamp of each table
- Raw html elements of selected tables

In [44]:
info_df = pd.concat([url_time_df, employment_tab_url], axis = 1)
info_df.head(3)

,url,mmyy,stamp,length,table
0,https://travel.state.gov/content/travel/en/leg...,DECEMBER_2001,2001-12-01,1,"[<table class=""grid"" border=""1"" cellspacing=""0..."
1,https://travel.state.gov/content/travel/en/leg...,JANUARY_2002,2002-01-01,1,"[<table class=""grid"" border=""1"" cellspacing=""0..."
2,https://travel.state.gov/content/travel/en/leg...,FEBRUARY_2002,2002-02-01,1,"[<table class=""grid"" border=""1"" cellspacing=""0..."

In [45]:
info_df.to_csv("employment_tab_url.csv", index = False)

In [46]:
info_df_long = info_df.explode('table')[['url','stamp','table']]

In [47]:
info_df_long.to_csv("employment_tab_long.csv", index = False)

In [48]:
# Must reset index, otherwise the end index would still be like before explode
info_df_long = info_df_long.reset_index(drop = True)

In [49]:
info_df_long

,url,stamp,table
0,https://travel.state.gov/content/travel/en/leg...,2001-12-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
1,https://travel.state.gov/content/travel/en/leg...,2002-01-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
2,https://travel.state.gov/content/travel/en/leg...,2002-02-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
3,https://travel.state.gov/content/travel/en/leg...,2002-03-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
4,https://travel.state.gov/content/travel/en/leg...,2002-04-01,"<table class=""grid"" width=""100%"" cellspacing=""..."
...,...,...,...
347,https://travel.state.gov/content/travel/en/leg...,2023-04-01,"<table width=""100%"" border=""1"" cellspacing=""0""..."
348,https://travel.state.gov/content/travel/en/leg...,2023-05-01,"<table width=""100%"" border=""1"" cellspacing=""0""..."
349,https://travel.state.gov/content/travel/en/leg...,2023-05-01,"<table width=""100%"" border=""1"" cellspacing=""0""..."
350,https://travel.state.gov/content/travel/en/leg...,2023-06-01,"<table width=""100%"" border=""1"" cellspacing=""0""..."
351,https://travel.state.gov/content/travel/en/leg...,2023-06-01,"<table width=""100%"" border=""1"" cellspacing=""0""..."

# Dataframes from Raw HTML Elements

## Demonstration for Individual Dataframe

### The oldest table (from Web)

<table class="grid" border="1" cellspacing="0" cellpadding="3" width="100%">
<tbody><tr><th>&nbsp;</th>
<th>All Chargeability Areas Except Those Listed</th>
<th>INDIA</th>
<th>MEXICO</th>
<th>PHILIPPINES</th>
</tr><tr><th><p><b>Employment-<br>
 Based</b></p>
</th>
<td valign="top">&nbsp;</td>
<td valign="top">&nbsp;</td>
<td valign="top">&nbsp;</td>
<td valign="top">&nbsp;</td>
</tr><tr><th>1st</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr><tr><th>2nd</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr><tr><th>3rd</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr><tr><th>Other Workers</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr><tr><th>4th</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr><tr><th>Certain Religious Workers</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr><tr><th>5th</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr><tr><th>Targeted Employment Areas/Regional Centers</th>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
<td valign="top">C</td>
</tr></tbody></table>

### The oldest table (scraped)

In [50]:
# Initial output data frame
# Overall, this looks Okay. 
# But we need to remove the first row and move the "Employment-Based" to column name
pd.read_html(info_df_long['table'][0], header=0)[0]
# The [0] in the end would get the dataframe, w/o it, the type is list

,Unnamed: 0,All Chargeability Areas Except Those Listed,INDIA,MEXICO,PHILIPPINES
0,Employment- Based,NaN,NaN,NaN,NaN
1,1st,C,C,C,C
2,2nd,C,C,C,C
3,3rd,C,C,C,C
4,Other Workers,C,C,C,C
5,4th,C,C,C,C
6,Certain Religious Workers,C,C,C,C
7,5th,C,C,C,C
8,Targeted Employment Areas/Regional Centers,C,C,C,C

In [51]:
# The [0] in the end would get the dataframe, w/o it, the type is list
# Drop NaN to keep the main information
sample_df = pd.read_html(info_df_long['table'][0], header=0)[0].dropna(how='any')

In [52]:
sample_df = sample_df.rename(columns = {'Unnamed: 0':'Employment-based'})

In [53]:
sample_df['time'] = info_df_long['stamp'][0]

In [54]:
sample_df

,Employment-based,All Chargeability Areas Except Those Listed,INDIA,MEXICO,PHILIPPINES,time
1,1st,C,C,C,C,2001-12-01
2,2nd,C,C,C,C,2001-12-01
3,3rd,C,C,C,C,2001-12-01
4,Other Workers,C,C,C,C,2001-12-01
5,4th,C,C,C,C,2001-12-01
6,Certain Religious Workers,C,C,C,C,2001-12-01
7,5th,C,C,C,C,2001-12-01
8,Targeted Employment Areas/Regional Centers,C,C,C,C,2001-12-01

### The most recent table (from Web)

<table width="100%" border="1" cellspacing="0" cellpadding="3">
<tbody><tr><td><b>Employment-<br>
 based</b></td>
<td><b>All Chargeability<br>
 Areas&nbsp;Except<br>
 Those Listed</b></td>
<td><b>CHINA-<br>
 mainland&nbsp;<br>
 born</b></td>
<td><b>INDIA</b></td>
<td><b>MEXICO&nbsp;</b></td>
<td><b>PHILIPPINES&nbsp;</b></td>
</tr><tr><td>1st</td>
<td>C</td>
<td>01JUN22</td>
<td>01JUN22</td>
<td>C</td>
<td>C</td>
</tr><tr><td>2nd</td>
<td>01DEC22</td>
<td>08JUL19</td>
<td>01MAY12&nbsp;</td>
<td>01DEC22</td>
<td>01DEC22</td>
</tr><tr><td>3rd</td>
<td>01MAY23</td>
<td>01JUN19</td>
<td>01AUG12</td>
<td>01MAY23</td>
<td>01MAY23</td>
</tr><tr><td>Other Workers</td>
<td>01FEB20</td>
<td>01JAN16</td>
<td>01AUG12</td>
<td>01FEB20</td>
<td>01FEB20</td>
</tr><tr><td>4th</td>
<td>01OCT18</td>
<td>01OCT18</td>
<td>01OCT18</td>
<td>01OCT18</td>
<td>01OCT18</td>
</tr><tr><td>Certain Religious Workers</td>
<td>01OCT18</td>
<td>01OCT18</td>
<td>01OCT18</td>
<td>01OCT18</td>
<td>01OCT18</td>
</tr><tr><td>5th Unreserved<br>
(including C5, T5, I5, R5)</td>
<td>C</td>
<td>01JAN16</td>
<td>08DEC19</td>
<td>C</td>
<td>C</td>
</tr><tr><td>5th Set Aside:<br>
(Rural - 20%)</td>
<td>C</td>
<td>C</td>
<td>C</td>
<td>C</td>
<td>C</td>
</tr><tr><td>5th Set Aside:<br>
(High Unemployment - 10%)</td>
<td>C</td>
<td>C</td>
<td>C</td>
<td>C</td>
<td>C</td>
</tr><tr><td>5th Set Aside:<br>
(Infrastructure - 2%)</td>
<td>C</td>
<td>C</td>
<td>C</td>
<td>C</td>
<td>C</td>
</tr></tbody></table>

In [55]:
range(len(info_df_long)).stop

352

### The most recent table (scraped)

In [56]:
# `range(len(info_df_long)).stop - 1` to index the last table
sample_df2 = pd.read_html(info_df_long['table'][range(len(info_df_long)).stop - 1], header=0)[0]
sample_df2['time'] = info_df_long['stamp'][range(len(info_df_long)).stop - 1]
sample_df2

,Employment- based,All Chargeability Areas Except Those Listed,CHINA- mainland born,INDIA,MEXICO,PHILIPPINES,time
0,1st,C,01JUN22,01JUN22,C,C,2023-06-01
1,2nd,01DEC22,08JUL19,01MAY12,01DEC22,01DEC22,2023-06-01
2,3rd,01MAY23,01JUN19,01AUG12,01MAY23,01MAY23,2023-06-01
3,Other Workers,01FEB20,01JAN16,01AUG12,01FEB20,01FEB20,2023-06-01
4,4th,01OCT18,01OCT18,01OCT18,01OCT18,01OCT18,2023-06-01
5,Certain Religious Workers,01OCT18,01OCT18,01OCT18,01OCT18,01OCT18,2023-06-01
6,"5th Unreserved (including C5, T5, I5, R5)",C,01JAN16,08DEC19,C,C,2023-06-01
7,5th Set Aside: (Rural - 20%),C,C,C,C,C,2023-06-01
8,5th Set Aside: (High Unemployment - 10%),C,C,C,C,C,2023-06-01
9,5th Set Aside: (Infrastructure - 2%),C,C,C,C,C,2023-06-01

In [57]:
# The extracted column name. This is Okay. But it can be changed.
sample_df2.columns[0]

'Employment-  based'

In [58]:
pd.read_html(info_df_long['table'][166], header=0)[0]

,Employment- Based,All Chargeability Areas Except Those Listed,CHINA - mainland born,INDIA,MEXICO,PHILIPPINES
0,1st,C,C,C,C,C
1,2nd,C,01JAN12,01MAY05,C,C
2,3rd,15AUG15,15OCT11,08MAR04,15AUG15,01JAN07
3,Other Workers,15AUG15,01JAN06,08MAR04,15AUG15,01JAN07
4,4th,C,C,C,C,C
5,Certain Religious Workers,U,U,U,U,U
6,5th Non-Regional Center (C5 and T5),C,08OCT13,C,C,C
7,5th Regional Center (I5 and R5),U,U,U,U,U

## Convert All Dataframes

In [59]:
# If there're more than one Employment-Based table, keep the first one
info_df_short = info_df_long.drop_duplicates(subset='stamp', keep = 'first')
info_df_short = info_df_short.reset_index(drop = True)
info_df_short.shape

(259, 3)

The following step is to create a list of dataframes out of the raw elements. This is the most time-consuming step.

In [60]:
%%time
DF_list = [None] * len(info_df_short)
for raw in info_df_short['table']:
    # .dropna(how = "any") is optional and specific given the properties of these dataframes
    # without the .dropna() statement, the executing time would reduce to half
    DF_list = [pd.read_html(raw, header=0)[0].dropna(how = "any") for raw in info_df_short['table']]

CPU times: user 2min 27s, sys: 700 ms, total: 2min 28s
Wall time: 2min 28s

In [62]:
%%time
# Change column names. Note that we can't just change the name of the first column.
# We have to address all column names
for df in DF_list:
    df.columns = ["Employment-Based"] + list(df.columns[1:])

CPU times: user 26.2 ms, sys: 2.15 ms, total: 28.4 ms
Wall time: 26.1 ms

In [63]:
DF_list[0]

,Employment-Based,All Chargeability Areas Except Those Listed,INDIA,MEXICO,PHILIPPINES
1,1st,C,C,C,C
2,2nd,C,C,C,C
3,3rd,C,C,C,C
4,Other Workers,C,C,C,C
5,4th,C,C,C,C
6,Certain Religious Workers,C,C,C,C
7,5th,C,C,C,C
8,Targeted Employment Areas/Regional Centers,C,C,C,C

# More Cleaning Tasks

Double-check the column names: if there're still problems(hopefully not but usually there are), think of ad-hoc solutions

In [64]:
import sys
# Create a duplicated list so that we always have an original version of the dataframe list
DF_list_archive = list(DF_list)
print(sys.getsizeof(DF_list_archive))

2128

## Review Column Names

### How many versions of column names?

This step is optional. Rather than looking at the combination of column names, we can also examine individual column names. But this is just to show the idea of viewing how many "versions" of dataframes do we have.

- If the vast majority of dataframes have identical set of column names, we can consider manually modify the few dataframes with different dataframes. 
- If there're many different set of column names and the counts of dataframes with specific versions of column names are evenly distributed, it would be better to assign a standardized spelling for individual column names.

In [65]:
# A good start is to check the column names for all
col_names = []
ids = []
for i,df in enumerate(DF_list):
    # must be string
    ids.append(str(i))
    col_names.append(df.columns)
   # print(str(i),df.columns)

In [66]:
colnames_df =pd.DataFrame({
    'ids': ids,'col_names': [', '.join(x) for x in col_names]})

In [67]:
colnames_df.head()

  ids                                          col_names
0   0  Employment-Based, All Chargeability Areas Exce...
1   1  Employment-Based, All Chargeability Areas Exce...
2   2  Employment-Based, All Chargeability Areas Exce...
3   3  Employment-Based, All Chargeability Areas Exce...
4   4  Employment-Based, All Chargeability Areas Exce...

In [68]:
# unique combination of column names
len(set(colnames_df['col_names']))

36

### Which dataframes have problematic column names?

Again, this step is also optional. We can output the following dataframe and examine dataframes of which ids require more attention.

In [69]:
colnames_df_summary =colnames_df.groupby('col_names').agg(ids = ('ids',','.join))
colnames_df_summary['col_names'] = colnames_df_summary.index
colnames_df_summary = colnames_df_summary.reset_index(drop = True)

Because the dataframes were published over the past two decades, the table formats are inconsistent.

### What are the causes of the problematic column names?

Take a look at one of the dataframes with problematic column names:

In [70]:
DF_list[27]

,Employment-Based,Priority Dates for Employment-Based Immigrant Visas.1,Priority Dates for Employment-Based Immigrant Visas.2,Priority Dates for Employment-Based Immigrant Visas.3,Priority Dates for Employment-Based Immigrant Visas.4
0,Employment-Based,All Chargeability Areas Except Those Listed,INDIA,MEXICO,PHILIPPINES
1,1st,C,C,C,C
2,2nd,C,C,C,C
3,3rd,C,C,C,C
4,Other Workers,C,C,C,C
5,4th,C,C,C,C
6,Certain Religious Workers,C,C,C,C
7,5th,C,C,C,C
8,Targeted Employment Areas/Regional Centers,C,C,C,C

In [71]:
DF_list[27].iloc[0].str.contains("Chargeability").any()

True

In [72]:
DF_list[27].iloc[0].str.contains("Chargeability", case = False).any() == True

True

In [73]:
# Get the indeces of dataframes with problematic column names
edit_index = []
for i,df in enumerate(DF_list):
    if df.iloc[0].str.contains("Chargeability", case = False).any() == True:
        print(str(i),df.iloc[0].str.contains("Chargeability", case = False).any())
        edit_index.append(i)
print(edit_index)

26 True
27 True
28 True
[26, 27, 28]

In [74]:
# make first row as column names
for i in edit_index:
    DF_list[i].columns = DF_list[i].iloc[0]

In [75]:
# drop first row
for i in edit_index:
    if DF_list[i].iloc[0].str.contains("Chargeability", case = False).any() == True:
        DF_list[i] = DF_list[i].iloc[1:]

In [76]:
# After making the first row as the column names and removing the first row:
DF_list[26]

,Employment-Based,All Chargeability Areas Except Those Listed,INDIA,MEXICO,PHILIPPINES
1,1st,C,C,C,C
2,2nd,C,C,C,C
3,3rd,C,C,C,C
4,Other Workers,C,C,C,C
5,4th,C,C,C,C
6,Certain Religious Workers,C,C,C,C
7,5th,C,C,C,C
8,Targeted Employment Areas/Regional Centers,C,C,C,C

In [77]:
# Verify the outcome after the loop, this looks like the above item, meaning the loop works properly
DF_list[28]

,Employment-Based,All Chargeability Areas Except Those Listed,INDIA,MEXICO,PHILIPPINES
1,1st,C,C,C,C
2,2nd,C,C,C,C
3,3rd,C,C,C,C
4,Other Workers,C,C,C,C
5,4th,C,C,C,C
6,Certain Religious Workers,C,C,C,C
7,5th,C,C,C,C
8,Targeted Employment Areas/Regional Centers,C,C,C,C

In [78]:
# Certain column names are too long and prone to spelling/spacing variations.
# Assign a consistent spelling/spacing to it
for df in DF_list:
    # can only concatenate list (not "str") to list
    df.columns = ["Employment-Based"] + ["All_Chargeability_Except_Listed"] + list(df.columns[2:])

In [79]:
DF_list[1]

,Employment-Based,All_Chargeability_Except_Listed,INDIA,MEXICO,PHILIPPINES
1,1st,C,C,C,C
2,2nd,C,C,C,C
3,3rd,C,C,C,C
4,Other Workers,C,C,C,C
5,4th,C,C,C,C
6,Certain Religious Workers,C,C,C,C
7,5th,C,C,C,C
8,Targeted Employment Areas/Regional Centers,C,C,C,C

In [80]:
# Re-run the summary of column names
col_names = []
ids = []
for i,df in enumerate(DF_list):
    # must be string
    ids.append(str(i))
    col_names.append(df.columns)
   # print(str(i),df.columns)  
colnames_df =pd.DataFrame({
    'ids': ids,'col_names': [', '.join(x) for x in col_names]})

colnames_df_summary =colnames_df.groupby('col_names').agg(ids = ('ids',','.join))
colnames_df_summary['col_names'] = colnames_df_summary.index
colnames_df_summary = colnames_df_summary.reset_index(drop = True)
colnames_df_summary

,ids,col_names
0,"37,38,39,43,45,46,47,48,49","Employment-Based, All_Chargeability_Except_Lis..."
1,"154,159,161,163,164,170,171","Employment-Based, All_Chargeability_Except_Lis..."
2,"124,125,126,127,128,129,131,132,133,134,135,13...","Employment-Based, All_Chargeability_Except_Lis..."
3,"51,52,56","Employment-Based, All_Chargeability_Except_Lis..."
4,50,"Employment-Based, All_Chargeability_Except_Lis..."
5,"42,44","Employment-Based, All_Chargeability_Except_Lis..."
6,"173,174,175,176,177,178,179,180,181,182,183,18...","Employment-Based, All_Chargeability_Except_Lis..."
7,"197,198,199,200,201,202,203,204,205,206,207,20...","Employment-Based, All_Chargeability_Except_Lis..."
8,"57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,7...","Employment-Based, All_Chargeability_Except_Lis..."
9,"102,103,104,105,108,109,110,111","Employment-Based, All_Chargeability_Except_Lis..."
10,"40,41,91,93,95,96,97,98,99,100,106,107,112,115...","Employment-Based, All_Chargeability_Except_Lis..."
11,"53,54,55,172","Employment-Based, All_Chargeability_Except_Lis..."
12,"0,1,2,3,4,5,6,7,8,9,10,11,19,20,21,22,23,24,25...","Employment-Based, All_Chargeability_Except_Lis..."
13,31,"Employment-Based, All_Chargeability_Except_Lis..."
14,"12,13,14,15,16,17,18","Employment-Based, All_Chargeability_Except_Lis..."

In [81]:
colnames_df_summary.to_csv('colnames_df_summary.csv')

In [82]:
# Another iregular column name "EL SALVADOR GUATEMALA HONDURAS"
# Column names that contain multiple countries
DF_list[173]

,Employment-Based,All_Chargeability_Except_Listed,CHINA- mainland born,EL SALVADOR GUATEMALA HONDURAS,INDIA,MEXICO,PHILIPPINES
0,1st,C,C,C,C,C,C
1,2nd,C,01SEP12,C,22NOV08,C,C
2,3rd,15FEB16,15AUG13,15FEB16,01SEP04,15FEB16,08AUG08
3,Other Workers,15FEB16,22APR07,15FEB16,01SEP04,15FEB16,08AUG08
4,4th,C,C,01JAN10,C,C,C
5,Certain Religious Workers,C,C,01JAN10,C,C,C
6,5th Non-Regional Center (C5 and T5),C,08FEB14,C,C,C,C
7,5th Regional Center (I5 and R5),C,08FEB14,C,C,C,C

## Standardize Column Names

Identify column names that can/should be merged. Here, a good example is the variations of China. An efficient way is to put all variations to a list create a dictionary. The variations of column names are as the keys and the finalized column name as the value.

### Counts of all column names

In [83]:
# initiate an empty dictionary
counts_col = {}

# hierarchical(nested) loop over every column name in every dataframe in the list of dataframes
for df in DF_list:
    for col in df.columns:
        if col in counts_col.keys():
            counts_col[col] += 1
        else:
            counts_col[col] = 1
# print the resulting dictionary of column name counts
counts_col

{'Employment-Based': 259,
 'All_Chargeability_Except_Listed': 259,
 'INDIA': 243,
 'MEXICO': 250,
 'PHILIPPINES': 248,
 'PHILLIPINES': 2,
 'CH': 9,
 'IN': 9,
 'ME': 9,
 'PH': 9,
 'CHINA- mainland born': 30,
 'CHINA-  mainland  born': 2,
 'CHINA': 4,
 'CHINA-mainland born': 4,
 'CHINA-  mainland born': 126,
 'DOMINICAN REPUBLIC': 8,
 'CHINA - mainland born': 40,
 'CHINA -  mainland born': 7,
 'EL SALVADOR  GUATEMALA  HONDURAS': 83,
 'VIETNAM': 41}

### Dictionary of finalized column names

In [84]:
# Collect all variations of China
CHINA = []
for key in counts_col.keys():
    if "CHINA" in key.upper():
        CHINA.append(key)
CHINA

['CHINA- mainland born',
 'CHINA-  mainland  born',
 'CHINA',
 'CHINA-mainland born',
 'CHINA-  mainland born',
 'CHINA - mainland born',
 'CHINA -  mainland born']

In [86]:
# Create a value list
print(["CHINA-MAINLAND"]*len(CHINA))
# Create a dictionary of variations of China as keys, and "CHINA-MAINLAND" as values
rename1 = dict(zip(CHINA, ["CHINA-MAINLAND"]*len(CHINA)))
rename1

['CHINA-MAINLAND', 'CHINA-MAINLAND', 'CHINA-MAINLAND', 'CHINA-MAINLAND', 'CHINA-MAINLAND', 'CHINA-MAINLAND', 'CHINA-MAINLAND']

{'CHINA- mainland born': 'CHINA-MAINLAND',
 'CHINA-  mainland  born': 'CHINA-MAINLAND',
 'CHINA': 'CHINA-MAINLAND',
 'CHINA-mainland born': 'CHINA-MAINLAND',
 'CHINA-  mainland born': 'CHINA-MAINLAND',
 'CHINA - mainland born': 'CHINA-MAINLAND',
 'CHINA -  mainland born': 'CHINA-MAINLAND'}

In [87]:
rename2 = {
    'PHILLIPINES':'PHILIPPINES',
    'CH':'CHINA-MAINLAND',
    'IN':'INDIA',
    'ME':'MEXICO',
    'PH':'PHILIPPINES'
}

In [88]:
# update rename1 by appending items in rename2
rename1.update(rename2)
# rename1 is the final dictionary that includes information in rename2
rename1

{'CHINA- mainland born': 'CHINA-MAINLAND',
 'CHINA-  mainland  born': 'CHINA-MAINLAND',
 'CHINA': 'CHINA-MAINLAND',
 'CHINA-mainland born': 'CHINA-MAINLAND',
 'CHINA-  mainland born': 'CHINA-MAINLAND',
 'CHINA - mainland born': 'CHINA-MAINLAND',
 'CHINA -  mainland born': 'CHINA-MAINLAND',
 'PHILLIPINES': 'PHILIPPINES',
 'CH': 'CHINA-MAINLAND',
 'IN': 'INDIA',
 'ME': 'MEXICO',
 'PH': 'PHILIPPINES'}

### Rename all dataframes

In [89]:
%%time
for i in range(len(DF_list)):
    DF_list[i] = DF_list[i].rename(columns = rename1)

CPU times: user 39.6 ms, sys: 882 µs, total: 40.5 ms
Wall time: 39.7 ms

In [90]:
# After standardizing the columns of of China, re-run the dictionary
counts_col = {}

# hierarchical(nested) loop over every column name in every dataframe in the list of dataframes
for df in DF_list:
    for col in df.columns:
        if col in counts_col.keys():
            counts_col[col] += 1
        else:
            counts_col[col] = 1
# print the resulting dictionary of column name counts
counts_col

{'Employment-Based': 259,
 'All_Chargeability_Except_Listed': 259,
 'INDIA': 252,
 'MEXICO': 259,
 'PHILIPPINES': 259,
 'CHINA-MAINLAND': 222,
 'DOMINICAN REPUBLIC': 8,
 'EL SALVADOR  GUATEMALA  HONDURAS': 83,
 'VIETNAM': 41}

## Add Timestamp 

Add the timestamp column to every dataframe in the list so that we keep the time information after joining the dataframes.

In [91]:
# This is the table that contains the catelog information of the dataframes
info_df_short = info_df_short.reset_index(drop=True)
info_df_short.head()

,url,stamp,table
0,https://travel.state.gov/content/travel/en/leg...,2001-12-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
1,https://travel.state.gov/content/travel/en/leg...,2002-01-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
2,https://travel.state.gov/content/travel/en/leg...,2002-02-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
3,https://travel.state.gov/content/travel/en/leg...,2002-03-01,"<table class=""grid"" border=""1"" cellspacing=""0""..."
4,https://travel.state.gov/content/travel/en/leg...,2002-04-01,"<table class=""grid"" width=""100%"" cellspacing=""..."

In [92]:
%%time
for i in range(len(DF_list)):
    DF_list[i]['time'] = info_df_short['stamp'][i]

CPU times: user 41.6 ms, sys: 3.88 ms, total: 45.5 ms
Wall time: 42.3 ms

In [93]:
# Re-run this, 'time' should appear here with its count equals to the length of the list
counts_col = {}

# hierarchical(nested) loop over every column name in every dataframe in the list of dataframes
for df in DF_list:
    for col in df.columns:
        if col in counts_col.keys():
            counts_col[col] += 1
        else:
            counts_col[col] = 1
# print the resulting dictionary of column name counts
counts_col

{'Employment-Based': 259,
 'All_Chargeability_Except_Listed': 259,
 'INDIA': 252,
 'MEXICO': 259,
 'PHILIPPINES': 259,
 'time': 259,
 'CHINA-MAINLAND': 222,
 'DOMINICAN REPUBLIC': 8,
 'EL SALVADOR  GUATEMALA  HONDURAS': 83,
 'VIETNAM': 41}

# Merge ALL Dataframes

Merge them vertically, although the column names are different across dataframes.

In [94]:
# concatenate all dataframes via a generator
# it is wise to temporarily make the 'time' variable the index
# so that we can later add the 'time' column to the end of the long dataframe
pd.concat([df for df in DF_list]).set_index(['time'])

,Employment-Based,All_Chargeability_Except_Listed,INDIA,MEXICO,PHILIPPINES,CHINA-MAINLAND,DOMINICAN REPUBLIC,EL SALVADOR GUATEMALA HONDURAS,VIETNAM
time,,,,,,,,,
2001-12-01,1st,C,C,C,C,NaN,NaN,NaN,NaN
2001-12-01,2nd,C,C,C,C,NaN,NaN,NaN,NaN
2001-12-01,3rd,C,C,C,C,NaN,NaN,NaN,NaN
2001-12-01,Other Workers,C,C,C,C,NaN,NaN,NaN,NaN
2001-12-01,4th,C,C,C,C,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-06-01,Certain Religious Workers,01SEP18,01SEP18,01SEP18,01SEP18,01SEP18,NaN,NaN,NaN
2023-06-01,"5th Unreserved (including C5, T5, I5, R5)",C,01APR17,C,C,08SEP15,NaN,NaN,NaN
2023-06-01,5th Set Aside: Rural (20%),C,C,C,C,C,NaN,NaN,NaN
2023-06-01,5th Set Aside: High Unemployment (10%),C,C,C,C,C,NaN,NaN,NaN
2023-06-01,5th Set Aside: Infrastructure (2%),C,C,C,C,C,NaN,NaN,NaN

In [95]:
alldata = pd.concat([df for df in DF_list]).set_index(['time'])

In [96]:
# Confirm that all NaN are in the columns of countries/regions
alldata.isna().sum()[alldata.isna().sum()>0]

INDIA                                 56
CHINA-MAINLAND                       295
DOMINICAN REPUBLIC                  2025
EL SALVADOR  GUATEMALA  HONDURAS    1409
VIETNAM                             1768
dtype: int64

In [97]:
alldata = alldata.fillna('C')
alldata['time'] = alldata.index
alldata = alldata.reset_index(drop = True)

In [98]:
alldata

,Employment-Based,All_Chargeability_Except_Listed,INDIA,MEXICO,PHILIPPINES,CHINA-MAINLAND,DOMINICAN REPUBLIC,EL SALVADOR GUATEMALA HONDURAS,VIETNAM,time
0,1st,C,C,C,C,C,C,C,C,2001-12-01
1,2nd,C,C,C,C,C,C,C,C,2001-12-01
2,3rd,C,C,C,C,C,C,C,C,2001-12-01
3,Other Workers,C,C,C,C,C,C,C,C,2001-12-01
4,4th,C,C,C,C,C,C,C,C,2001-12-01
...,...,...,...,...,...,...,...,...,...,...
2091,Certain Religious Workers,01SEP18,01SEP18,01SEP18,01SEP18,01SEP18,C,C,C,2023-06-01
2092,"5th Unreserved (including C5, T5, I5, R5)",C,01APR17,C,C,08SEP15,C,C,C,2023-06-01
2093,5th Set Aside: Rural (20%),C,C,C,C,C,C,C,C,2023-06-01
2094,5th Set Aside: High Unemployment (10%),C,C,C,C,C,C,C,C,2023-06-01
2095,5th Set Aside: Infrastructure (2%),C,C,C,C,C,C,C,C,2023-06-01

In [99]:
alldata.to_csv("visa_bulletin.csv", index=False)

# Data Manipulation

In [100]:
# make a copy of the merged dataframe
df_work = alldata.copy(deep = True)

## Conditional Processing (index & datetime)

In [101]:
# Create a country list whose
country_list = ['All_Chargeability_Except_Listed', 'INDIA', 'MEXICO', 'PHILIPPINES',
       'CHINA-MAINLAND', 'DOMINICAN REPUBLIC',
       'EL SALVADOR  GUATEMALA  HONDURAS', 'VIETNAM']

We see that there're two types of values. The first type is the single-letter (in most cases, capital letter "C") place holder. The second type is a 7-character date, e.g., "08SEP15". I want to use the date information to calculate the time difference from the "actual time" (as given in the 'time' column).

We need conditional processing of the values: if it is a single-letter place holder, ignore it for now; if it is a date, read it as a date and then calculate the time difference.

In [102]:
# Count the number of digits of all cells in a column
lens = []
for row in df_work['MEXICO']:
    length = len(row)
    lens.append(length)
# use np.unique(, return_counts = True), then zip it to a tuple, and create a dictionary    
dict(zip(*np.unique(lens, return_counts=True)))

{1: 1611, 7: 485}

In [103]:
# apply it to all columns of countries/regions
lens = []
for col in df_work[country_list]:
    for row in df_work[col]:
        length = len(row)
        lens.append(length)
dict(zip(*np.unique(lens, return_counts=True)))

{1: 13540, 7: 3228}

The above frequency distribution of number of characters in the observations across all country columns helps determine the conditions for conditional processing.

If all observations in the column are dates, we can use `pd.to_datetime(df[col], infer_datetime_format = True, errors = 'coerce'|'ignore')`. But here, we use conditional processing at the unit of cell.

Test date format conversion using single value:

In [104]:
datetime.strptime('08SEP15', "%d%b%y").strftime("%Y-%m-%d")

'2015-09-08'

Get the numeric indeces for both row and column:

In [105]:
# get column index through list comprehension
country_list_index = [df_work.columns.get_loc(c) for c in country_list if c in df_work]
country_list_index

[1, 2, 3, 4, 5, 6, 7, 8]

In [106]:
# get row index range
range(len(df_work))

range(0, 2096)

In [107]:
# nested loop over the i th row and the j th column
for i in range(len(df_work)):
    for j in country_list_index:
        if len(df_work.iloc[i,j]) == 7:
            df_work.iloc[i,j] = datetime.strptime(df_work.iloc[i,j], "%d%b%y").strftime("%Y-%m-%d")

In [108]:
df_work

,Employment-Based,All_Chargeability_Except_Listed,INDIA,MEXICO,PHILIPPINES,CHINA-MAINLAND,DOMINICAN REPUBLIC,EL SALVADOR GUATEMALA HONDURAS,VIETNAM,time
0,1st,C,C,C,C,C,C,C,C,2001-12-01
1,2nd,C,C,C,C,C,C,C,C,2001-12-01
2,3rd,C,C,C,C,C,C,C,C,2001-12-01
3,Other Workers,C,C,C,C,C,C,C,C,2001-12-01
4,4th,C,C,C,C,C,C,C,C,2001-12-01
...,...,...,...,...,...,...,...,...,...,...
2091,Certain Religious Workers,2018-09-01,2018-09-01,2018-09-01,2018-09-01,2018-09-01,C,C,C,2023-06-01
2092,"5th Unreserved (including C5, T5, I5, R5)",C,2017-04-01,C,C,2015-09-08,C,C,C,2023-06-01
2093,5th Set Aside: Rural (20%),C,C,C,C,C,C,C,C,2023-06-01
2094,5th Set Aside: High Unemployment (10%),C,C,C,C,C,C,C,C,2023-06-01
2095,5th Set Aside: Infrastructure (2%),C,C,C,C,C,C,C,C,2023-06-01

## Create a Finite List of Values

In [109]:
eb_dict = dict(zip(*np.unique(df_work['Employment-Based'], return_counts=True)))
eb_dict

{'1st': 259,
 '2nd': 259,
 '3rd': 259,
 '4th': 259,
 '5th': 113,
 '5th  Targeted  Employment Areas/  Regional Centers  and Pilot Programs': 1,
 '5th  Targeted  Employment Areas/  Regional Centers and  Pilot Programs': 1,
 '5th  Targeted  Employment Areas/ Regional Centers and Pilot Programs': 1,
 '5th  Targeted\xa0Employment Areas/  Regional Centers and Pilot Programs': 1,
 '5th Non-Regional Center (C5 and T5)': 5,
 '5th Non-Regional\xa0Center (C5 and T5)': 55,
 '5th Pilot Progams': 1,
 '5th Pilot Programs': 19,
 '5th Regional Center (I5 and R5)': 3,
 '5th Regional\xa0Center (I5 and R5)': 1,
 '5th Set Aside: High Unemployment (10%)': 14,
 '5th Set Aside: Infrastructure (2%)': 14,
 '5th Set Aside: Rural (20%)': 14,
 '5th Targeted Employment Areas/ Regional Centers': 1,
 '5th Targeted Employment Areas/ Regional Centers and Pilot Programs': 5,
 '5th Targeted Employment Areas/ Regional Centers and Pilot\xa0Programs': 1,
 '5th Targeted Employment Areas/Regional Centers and Pilot Programs': 1,
 '5th Targeted EmploymentAreas/ Regional Centers and Pilot Programs': 40,
 '5th Unreserved (C5, T5, and all others)': 1,
 '5th Unreserved (including C5, T5, I5, R5)': 13,
 '5th\xa0Non-Regional\xa0Center (C5 and T5)': 20,
 '5th\xa0Regional\xa0Center (I5 and R5)': 76,
 '5th\xa0Unreserved (I5 and R5)': 1,
 'Certain Religious  Workers': 8,
 'Certain Religious Workers': 248,
 'Certain Religiuos  Workers': 1,
 'Employment-Based': 1,
 'Iraqi & Afghani Translators': 8,
 'Other Worker': 1,
 'Other Workers': 246,
 'Other Workers*': 2,
 'Other\xa0Workers': 10,
 'Schedule A  Workers': 1,
 'Schedule A Workers': 15,
 'Schedule A\xa0Workers': 1,
 'Schedule\xa0A\xa0Workers': 3,
 'Targeted Employ-  ment Areas/  Regional Centers': 1,
 'Targeted Employ-ment Areas/Regional Centers': 2,
 'Targeted Employment Areas /  Regional Centers': 1,
 'Targeted Employment Areas/  Regional Centers': 1,
 'Targeted Employment Areas/ Regional Centers': 32,
 'Targeted Employment Areas/Regional Centers': 57,
 'Targeted\xa0Employment Areas': 1,
 'Targeted\xa0Employment Areas/ Regional Centers': 15,
 'Targeted\xa0Employment Areas/Regional Centers': 3}

In [110]:
# This is the most time-consuming manual work.
# Think of more automatic ways when the list gets longer.
eb_rename_dict = {
    '5th Non-Regional\xa0Center (C5 and T5)':'5th Non-Regional Center',
    '5th Non-Regional Center (C5 and T5)':'5th Non-Regional Center',
    '5th Regional\xa0Center (I5 and R5)':'5th Non-Regional Center',
    '5th\xa0Non-Regional\xa0Center (C5 and T5)':'5th Non-Regional Center',
    '5th Pilot Progams':'5th Targeted Employment Areas',
    '5th Pilot Programs':'5th Targeted Employment Areas',
    '5th Regional Center (I5 and R5)':'5th Targeted Employment Areas',
    '5th Regional\xa0Center (I5 and R5)':'5th Targeted Employment Areas',
    '5th\xa0Regional\xa0Center (I5 and R5)':'5th Targeted Employment Areas',
    '5th Unreserved (C5, T5, and all others)':'5th Unreserved',
    '5th Unreserved (including C5, T5, I5, R5)':'5th Unreserved',
    '5th\xa0Unreserved (I5 and R5)':'5th Unreserved',
    '5th Set Aside: High Unemployment (10%)':'5th Set Aside',
    '5th Set Aside: Infrastructure (2%)':'5th Set Aside',
    '5th Set Aside: Rural (20%)':'5th Set Aside',
    'Iraqi & Afghani Translators':'Iraqi & Afghani Translators',
    'Other Worker':'Other Workers',
    'Other Workers':'Other Workers',
    'Other Workers*':'Other Workers',
    'Other\xa0Workers':'Other Workers',
    'Schedule A  Workers':'Schedule A Workers',
    'Schedule A Workers':'Schedule A Workers',
    'Schedule A\xa0Workers':'Schedule A Workers',
    'Schedule\xa0A\xa0Workers':'Schedule A Workers',
    'Certain Religious  Workers':'Certain Religious Workers',
    'Certain Religiuos  Workers':'Certain Religious Workers',
    'Certain Religious Workers':'Certain Religious Workers',
    'Employment-Based':'Employment-Based',
    '1st':'1st',
    '2nd':'2nd',
    '3rd':'3rd',
    '4th':'4th',
    '5th':'5th'
}

In [111]:
# Collect all variations of 5th
eb5_tar = []
for key in eb_dict.keys():
    if "TARGETED" in key.upper():
        eb5_tar.append(key)

In [112]:
eb_dict = dict(zip(eb5_tar, ["5th Targeted Employment Areas"]*len(eb5_tar)))
eb_rename_dict.update(eb_dict)
set(eb_rename_dict.values())

{'1st',
 '2nd',
 '3rd',
 '4th',
 '5th',
 '5th Non-Regional Center',
 '5th Set Aside',
 '5th Targeted Employment Areas',
 '5th Unreserved',
 'Certain Religious Workers',
 'Employment-Based',
 'Iraqi & Afghani Translators',
 'Other Workers',
 'Schedule A Workers'}

In [113]:
# Index any "suspicious" rows to check whether more cleaning work is needed
# If needed, confirm with the original web table
# https://travel.state.gov/content/travel/en/legal/visa-law0/visa-bulletin/2003/visa-bulletin-for-april-2003.html
df_work[df_work['Employment-Based'] == 'Employment-Based']

,Employment-Based,All_Chargeability_Except_Listed,INDIA,MEXICO,PHILIPPINES,CHINA-MAINLAND,DOMINICAN REPUBLIC,EL SALVADOR GUATEMALA HONDURAS,VIETNAM,time
127,Employment-Based,C,C,C,C,C,C,C,C,2003-04-01

## Map New Column from Dictionary

In [114]:
df_work['category'] = df_work['Employment-Based'].map(eb_rename_dict)

In [115]:
# Examine the unmapped values, then modify the dictionary until all values are mapped
df_work.isna().sum()[df_work.isna().sum()>0]

Series([], dtype: int64)

In [116]:
# This identify the unmapped keys
df_work['Employment-Based'][df_work['category'].isnull()].value_counts()

Series([], Name: Employment-Based, dtype: int64)

In [117]:
# The reduced/merged list of visa categories
df_work['category'].value_counts()

5th Targeted Employment Areas    265
1st                              259
2nd                              259
3rd                              259
Other Workers                    259
4th                              259
Certain Religious Workers        257
5th                              113
5th Non-Regional Center           80
5th Set Aside                     42
Schedule A Workers                20
5th Unreserved                    15
Iraqi & Afghani Translators        8
Employment-Based                   1
Name: category, dtype: int64

In [118]:
df_work.to_csv("visa_bulletin_updated.csv", index=False)

In [120]:
print("This jupyter notebook was last completed at", tm.strftime("%m/%d/%Y, %A, %H:%M %p"))

This jupyter notebook was last completed at 05/31/2023, Wednesday, 23:09 PM